@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#outer-home{
    width: 100%;
    min-height: 100vh;
}
#outer-header{
    width: 100%;
}
#header{
    padding-inline:2rem;
    font-family: 'Poppins',sans-serif;
    width: 100%;
}
#header-links{
    display: flex;
    column-gap: 0.8rem;
}
/* Home section  */

#home-section{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    row-gap: 1rem;
    margin-block:1.5rem;
}

.cards{
    width: 20rem;
}
.cards-image{
    width: 100%;
    height: 300px;
}
.cards-image> img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.cards-body h5{
    margin-top: .5rem;
}
.cards-body p{
    text-align: justify;
}
.cards-footer{
    display: flex;
    justify-content: space-between;
}


/* Footer section  */
#outer-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}
#footer-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Lato',sans-serif;
    padding-block: 2rem;
}
#personal{
    width: 30%;
    font-size: 1.1rem;
}
#website-details{
    width: 50%;
    font-size: 1.1rem;
}

@media screen and (max-width:1025px){
    #home-section{
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:992px){
    #home-section{
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    #personal{
        width: 35%;
    }
    #website-details{
        width: 55%;
    }
}
@media screen and (max-width:576px){
    #home-section{
        grid-template-columns: auto;
        justify-content: center;
    }
    .cards{
       width: 100%;
       overflow: hidden;
    }
    .cards-body{
        width: 100%;
        padding-inline:.25rem;
    }
    #header{
        padding-inline:0.5rem;
    }
    #footer-section{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    #personal{
        width: 100%;
    }
    #website-details{
        width: 100%;
    }
}